Dear {{ .FormData.Name }},

Thank you for your feedback.

A member of the team will look at your feedback over the next couple of days.
If necessary, they will contact you directly to discuss your feedback in more detail.

Once again thank you for contacting us. We really do appreciate your feedback.

The Website Team


This email address is not monitored so, please do not reply to this email.
