The following feedback has been received via the feedback form.
Please read and respond to it as required.

The email form gateway


From: {{ .FormData.Name }} &lt;{{ .FormData.Email }}&gt;
Subject: {{ .FormData.Subject }}
User-Agent: {{ .UserAgent }}
Raw remote IP Address: {{ .RemoteIp }}
X-Forwarded-For Header:{{ .XForwardedFor }}
{{ .FormData.Feedback }}
